---
http_interactions:
- request:
    method: get
    uri: https://api.greynoise.io/v2/noise/multi/quick?ips=1.1.1.1,8.8.8.8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Key:
      - "<GREYNOISE_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"ip":"1.1.1.1","noise":false,"code":"0x05"},{"ip":"8.8.8.8","noise":false,"code":"0x05"}]'
  recorded_at: Mon, 27 Jan 2020 12:20:47 GMT
recorded_with: VCR 5.0.0
