---
http_interactions:
- request:
    method: get
    uri: https://api.greynoise.io/v2/meta/metadata
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Key:
      - "<GREYNOISE_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"metadata":[{"name":"Quadmetrics.com","category":"actor","intention":"benign","description":"TODO","references":["https://quadmetrics.com"],"recommend_block":false,"cves":[]},{"name":"BingBot","category":"search_engine","intention":"benign","description":"This
        IP address belongs to Bing, Microsoft''s search engine. It is used to crawl
        web servers around the Internet and index content for search.","references":[],"recommend_block":false,"cves":[]},{"name":"Redis
        Scanner","category":"activity","intention":"","description":"This IP address
        has been seen scanning the Internet for Redis instances.","references":[],"recommend_block":fals[...]
