---
http_interactions:
- request:
    method: get
    uri: https://api.greynoise.io/v2/noise/quick/1.1.1.1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Key:
      - "<GREYNOISE_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"code":"0x05","ip":"1.1.1.1","noise":false}'
  recorded_at: Mon, 27 Jan 2020 12:18:46 GMT
recorded_with: VCR 5.0.0
